# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\NoahL\source\repos\guyingrey.github.io codebase based on best match to current usage at 9/26/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.html]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2