/*
  https://flatuicolors.com/palette/gb
*/
@import url('https://fonts.cdnfonts.com/css/common-pixel');

body {
  margin: 0px;
}

img {
  /*
    The point of these is to stop anti-aliasing on the images.
  */
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.flexOuter {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #0097e6;
}

.headerIcon {
  position: absolute;
  margin: 8px 0px 0px 8px;
}

.headerText {
  margin: 20px 10px 15px 10px;
  text-align: center;
  font-family: 'Common Pixel', sans-serif;
  vertical-align: middle;
}

.floatRight {
  float: right;
}

.headerTitle {
  margin-left: 48px;
  font-size: 25px;
  color: #f5f6fa;
}

.headerSubtext {
  font-size: 15px;
  color: #dcdde1;
}

.headerCheckboxLabel {
  text-align: center;
  font-size: 15px;
  color: #dcdde1;
  font-family: 'Common Pixel', sans-serif;
}

.versionNumber {
  color: #e84118;
  font-family: Arial;
  font-weight: bold;
}

.content {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.textInputOuter {
  flex: 1;
  flex-grow: 1;
  resize: none;
  text-align: center;
  background-color: #353b48;
}

textarea {
  border: unset;
  background-color: #353b48;
  color: #f5f6fa;
  padding: 20px;
  padding-top: 40px;
  outline-style: none;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: left;
  overflow: hidden;
  font-size: 20px;
}

.buttonLink {
  color: #f5f6fa;
  text-decoration: none;
}

.button {
  font-family: 'Common Pixel', sans-serif;
  cursor: pointer;
  background-color: #718093;
  color: #f5f6fa;
  border: none;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
  border-radius: 8px;
}

.button:hover {
  background-color: #44bd32;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  transform: translateY(-4px);
}

.copyButton {
  position: absolute;
  margin-top: 5px;
}

.checkbox {
  background-color: #718093;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: 14px;
  margin-bottom: 14px;
  transition-duration: 0.1s;
}

.checkbox:checked {
  background-color: #44bd32;
}

.checkbox:hover {
  background-color: #44bd32;
  background-color: #44bd32;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,0.19);
}